.navbar-custom{
    height: 88px;
    background-color: #196958;
}

.brand-title{
    position: absolute;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    left: 80px;
    top: 20px;
}

.brand-desc{
    position: absolute;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: lighter;
    left: 80px;
    top: 45px;
    margin-bottom: 0%;
}