.title-card{
    font-weight: bold;
}

.status-card{
    background-color: darkgray;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.card-message{
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    max-height: 50px;
}