.icon-logo{
    color: white;
    margin-left: 15px;
    margin-right: 10px;
}

.icon-text{
    color: white;
    font-weight: bold;
}

.card-custom{
    border-radius: 10px; 
    margin-top: 10px; 
    height: 150px;
    width: 200px;
    text-align: center;
}

.card-body-custom{
    background-color: #377467; 
    border-radius: 10px;
    height: 150px;
}

.row-body-custom{
    margin-top: 10px;
}

.bar-status{
    height: 30px;
    width: 140px;
    margin-top: 10px;;
    margin-left: 10px;
    background-color: red;
    border-radius: 10px;
}